* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  color: #fff;
  background-image: url(./assets/buildings-668616_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.container {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  padding-top: 2rem;
  header h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
}

#searchbar {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid orange;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.content {
  .city {
    font-size: 54px;
  }
  .temp {
    font-size: 150px;
  }
  .desc {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 1rem;
  }
  .minmax {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .wind {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  header h1 {
    font-size: 30px;
  }

  .content {
    .city {
      font-size: 27px;
    }
    .temp {
      font-size: 75px;
    }
    .desc {
      font-size: 1rem;
      font-style: italic;
      margin-bottom: 0.5rem;
    }
    .minmax {
      font-size: 15px;
      margin-bottom: 0.5rem;
    }
    .wind {
      font-size: 15px;
    }
  }
}
